<main>
  <div class="row">
    <div class="col-sm-6">
      <div class="user-section">
        {{ user ? "Welcome " + user : "Identify yourself..." }}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="display-section">
        Info
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="logs-section">
        LOGS
      </div>
    </div>
    <div class="col-sm-4">
      <div class="customers-section">
        CUSTOMERS
      </div>
    </div>
    <div class="col-sm-4">
      <div class="budget-section">
        BUDGET
      </div>
    </div>

  </div>
</main>
